<!doctype html>
<html>
<head>
	<meta charset = 'utf-8'>
	<title>TODO</title>
	<style>
		.hide{display: none}
		.show(display: block)
		.walit wait, .doing span, .done span{bacground: #F5F5F5; cursor: pointer}
		.walit swait, .doing sdoing, .done sdone{bacground: #33AA66;}
	</style>
</head>
<body>
<div id = "root">
	<div>
		<h1>data-model</h1>
		<button data-onClick="addTask" >addTAsk<button>
		<form data-onsubmit='submit', dataclass=addshow>	
			<input> data-onInput='changData'  placeholder="content" datamodel="addContent"/>
			 <input> data-onInput=changApppTgesodo datamoel= "addmodel"/>
				 <input> type="submit"  value= sumit Task/>
		</form>


		<ul>
			<li data-list = todos>
			<p data-modles = todo.task></p...>
			<p data-modles = todo.task></p...>
			<p data-modles = todo.task></p...>
			</li>


		</ul>
			<li dta-onClick = "statWait">
			<li dta-onClick = "statWait">
			<li dta-onClick = "statWait">
		
	
	</div>
</div>
<script = 'index.js'><script>
</body>
</html>
